body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
    display: block;
    order: 1;
}

.navbar>button {
    float: right;
}
.navbar> #navButton {
    float: left;
}
.page-container {
    margin-top: 66px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    /*https://stackoverflow.com/questions/18665171/how-to-make-the-main-content-div-fill-height-of-screen-with-css*/
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 0px 0px 0px;

}

#leftNavigator {
    background-color: #a7a7a7;
    padding-left: 2px;
    order: 2;
    width: 20%;
}

/*https://stackoverflow.com/questions/6722467/how-to-remove-the-default-link-color-of-the-html-hyperlink-a-tag*/
#leftNavigator a {
    color: inherit;
}

#leftNavigator ul {
    padding-left: 25px;
}


.body {
    padding-left: 2px;
    width: 80%;
    order: 3;
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* media queries to make navigator bigger as the screen gets smaller*/
@media screen and (min-width: 1024px) {
    .leftNavigator {
        width: 15%;
    }

    .body {
        width: 85%;
    }
}

@media screen and (min-width: 450px) {
    #navButton{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #leftNavigator{
        display: none;
    }
}