body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    /*https://stackoverflow.com/questions/18665171/how-to-make-the-main-content-div-fill-height-of-screen-with-css*/
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 20px; /* Footer Height */
    right:0px;
    left:0px;
    width: 100%;
    
}

.leftNavigator {
    grid-area: "sidebar";
    background-color: blue;
    height:100%;
}

.bodyText {
    grid-area: "main";
    background-color: red;
}

.footer {
    grid-area: "footer";
    background-color: orange;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 85% 15%;
    grid-template-areas:
        "sidebar main"
        "footer footer"
    ;
}

@media (min-width: 3px) {
    .container {
        min-height: 200px;
    }
}