body {
    background: #DDDDDD;
}

.navbar {
    justify-content: start;
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.bmd-layout-content {
    height: 100vh;
}

.navbar>button {
    /* justify-self: end; */
}
.navbar> #navButton {
    /* justify-self: start; */
}

.navbar>.navbar-brand {
    margin-right: auto;
}


.sidenav {
    background-color: #a7a7a7;
    padding-left: 2px;
    width: 250px;
}

/*https://stackoverflow.com/questions/6722467/how-to-remove-the-default-link-color-of-the-html-hyperlink-a-tag*/
.sidenav a {
    color: inherit;
}

.sidenav ul {
    padding-left: 25px;
}


h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
}
p{
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45em;
    /* padding-left: 25px; */
}


#pageDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#mainPage {
    position: relative;
}

.folderList{
    border: 2px;
    border-color: black;
}
.folderList a {
    color: inherit;
}

.folderListItem:focus{
    background-color: #a7a7a7;
}
.list-group-item{
    padding-left:0px;
}

.pageList a {
    color: inherit;
}
#pageBodyText{
    justify-content: center;
}

#pageNameDiv, #videoUrlDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#pageNameDiv > h1, #videoUrlDiv > h1 {
    margin: 5px 10px;
}

#videoUrlDiv {
    margin-bottom: 20px;
}

#pageNameDiv .bmd-form-group, #videoUrlDiv .bmd-form-group {
    padding-top: 0;
}

#inputPageName.form-control, #inputVideoUrl.form-control {
    font-size: 2rem;
}

#inputPageBody { 
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    height: 20em;
    /* padding-left: 25px; */
}

#buttonDiv {
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#saveButton {
    background-color: darkgrey;
    color: black
}

#deleteButton {
    background-color: darkgrey;
    color: red
}